name: Go CI

on:
  pull_request:

jobs:
  validate-pr:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: Install system dependencies
        run: sudo apt-get install -y yt-dlp ffmpeg

      - name: Verify go.mod is tidy
        run: |
          go mod tidy
          git diff --exit-code

      - name: Vet
        run: go vet ./...

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest

      - name: Run tests
        run: go test ./...

      - name: Build
        run: go build ./cmd/musicfreeier
